/* PC */
@media (min-width: 64em) {

}

/* Mobile & Tablet */
@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .contact-info {
        line-height: 2;
    }

    .social-list {
        font-size: 48px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright {
        padding: 12px 0;
        display: inline-block;
    }
}
    

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* Mobile Device */
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }
    #nav > li{
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav  > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #slider {
        width: 100%;
    }

    #content .member-item {
        padding-top: 30px;
        width: 100%;
    }

    #content .member-avatar {
        width: 60%;
    }

    .btn {
        text-align: center;
    }

    .contact-form {
        margin-top: 32px;
    }
}