/* PC */
@media (min-width: 1024px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile Device */
@media (max-width: 740px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }
    #nav > li{
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav  > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #slider {
        width: 100%;
    }

    #content .member-item {
        padding-top: 30px;
        width: 100%;
    }

    #content .member-avatar {
        width: 60%;
    }

    .btn {
        text-align: center;
    }

    .contact-form {
        margin-top: 16px;
    }
}